{% extends 'base.html' %}

{% block head %}
<title>Main page</title>
<style>
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% include 'header.html' %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            {% for msg in messages %}
            <p style="color: red;">{{msg}}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Category</h1>
        </div>
        {% if categories|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{% url 'category_products' pk=category.id %}">
                        <button class="btn btn-outline-primary">See products</button>
                    </a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        {% else %}
        <div class="col-12">
            <p>Products Not Found</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}